<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'Accueil</title>
  <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <h2>Page d'Accueil</h2>
    <p>Contenu principal de la page d'accueil.</p>
  </main>
</body>
</html>
